{% extends 'base.html' %}
{% load static %}

{% block link %}{% static 'css/detail.css' %}{% endblock %}

{% block content %}

<div class="post">
    <br>
    제목<br>{{my_jss.title}}
    <br><br>
    내용<br>{{my_jss.content}}
    <br><br>
    날짜<br>{{my_jss.updated_at|date:"Y-m-d"}}
    <br><br>
    <br><br>
    {% if user == my_jss.author %}
    <a href="{% url 'update' my_jss.id %}"><button>수정</button></a>
    <a href="{% url 'delete' my_jss.id %}"><button>삭제</button></a>
    {% endif %}
</div>
<hr>

<div class="com">
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'create_comment' my_jss.id %}">
        {% csrf_token %}
        {{comment_form}}
        <input type="submit" value="확인">
    </form>
    {% endif %}
    <br>

    {% for comment in my_jss.comment_set.all %}
    <p>
        {{comment.author}} 🔊 {{comment.content}}
        {% if user == comment.author %}
        <a href="{% url 'delete_comment' my_jss.id comment.id %}">
            <button>삭제</button>
        </a>
        {% endif %}
    </p>
    {% endfor %}
</div>
<br>

{% endblock %}