.box {
    text-align: center;
    width: 500px;
    height: 400px;
    margin: 50px auto;
}

.counter {
    background-color: #E6E6E6;
    width: 80px;
    height: 50px;
    margin: 20px auto;
    border-radius: 10px;
    padding-top: 10px;
}